common:
  identity:
    hydra:
      apis:
        - OAuth2APIService.OAuth2Authorize
        - OAuth2APIService.Oauth2TokenExchange
        - OAuth2APIService.RevokeOAuth2Token
        - OidcAPIService.CreateOidcDynamicClient
        - OidcAPIService.CreateVerifiableCredential
        - OidcAPIService.DeleteOidcDynamicClient
        - OidcAPIService.DiscoverOidcConfiguration
        - OidcAPIService.GetOidcDynamicClient
        - OidcAPIService.GetOidcUserInfo
        - OidcAPIService.RevokeOidcSession
        - OidcAPIService.SetOidcDynamicClient
        - WellknownAPIService.DiscoverJsonWebKeys
      admin-apis:
        - JwkAPIService.CreateJsonWebKeySet
        - JwkAPIService.DeleteJsonWebKey
        - JwkAPIService.DeleteJsonWebKeySet
        - JwkAPIService.GetJsonWebKey
        - JwkAPIService.GetJsonWebKeySet
        - JwkAPIService.SetJsonWebKey
        - JwkAPIService.SetJsonWebKeySet
        - OAuth2APIService.AcceptOAuth2ConsentRequest
        - OAuth2APIService.AcceptOAuth2LoginRequest
        - OAuth2APIService.AcceptOAuth2LogoutRequest
        - OAuth2APIService.CreateOAuth2Client
        - OAuth2APIService.DeleteOAuth2Client
        - OAuth2APIService.DeleteOAuth2Token
        - OAuth2APIService.DeleteTrustedOAuth2JwtGrantIssuer
        - OAuth2APIService.GetOAuth2Client
        - OAuth2APIService.GetOAuth2ConsentRequest
        - OAuth2APIService.GetOAuth2LoginRequest
        - OAuth2APIService.GetOAuth2LogoutRequest
        - OAuth2APIService.GetTrustedOAuth2JwtGrantIssuer
        - OAuth2APIService.IntrospectOAuth2Token
        - OAuth2APIService.ListOAuth2Clients
        - OAuth2APIService.ListOAuth2ConsentSessions
        - OAuth2APIService.ListTrustedOAuth2JwtGrantIssuers
        - OAuth2APIService.PatchOAuth2Client
        - OAuth2APIService.RejectOAuth2ConsentRequest
        - OAuth2APIService.RejectOAuth2LoginRequest
        - OAuth2APIService.RejectOAuth2LogoutRequest
        - OAuth2APIService.RevokeOAuth2ConsentSessions
        - OAuth2APIService.RevokeOAuth2LoginSessions
        - OAuth2APIService.SetOAuth2Client
        - OAuth2APIService.SetOAuth2ClientLifespans
        - OAuth2APIService.TrustOAuth2JwtGrantIssuer
    kratos:
      apis:
        - FrontendAPIService.CreateBrowserLoginFlow
        - FrontendAPIService.CreateBrowserLogoutFlow
        - FrontendAPIService.CreateBrowserRecoveryFlow
        - FrontendAPIService.CreateBrowserRegistrationFlow
        - FrontendAPIService.CreateBrowserSettingsFlow
        - FrontendAPIService.CreateBrowserVerificationFlow
        - FrontendAPIService.CreateNativeLoginFlow
        - FrontendAPIService.CreateNativeRecoveryFlow
        - FrontendAPIService.CreateNativeRegistrationFlow
        - FrontendAPIService.CreateNativeSettingsFlow
        - FrontendAPIService.CreateNativeVerificationFlow
        - FrontendAPIService.DisableMyOtherSessions
        - FrontendAPIService.DisableMySession
        - FrontendAPIService.ExchangeSessionToken
        - FrontendAPIService.GetFlowError
        - FrontendAPIService.GetLoginFlow
        - FrontendAPIService.GetRecoveryFlow
        - FrontendAPIService.GetRegistrationFlow
        - FrontendAPIService.GetSettingsFlow
        - FrontendAPIService.GetVerificationFlow
        - FrontendAPIService.GetWebAuthnJavaScript
        - FrontendAPIService.ListMySessions
        - FrontendAPIService.PerformNativeLogout
        - FrontendAPIService.ToSession
        - FrontendAPIService.UpdateLoginFlow
        - FrontendAPIService.UpdateLogoutFlow
        - FrontendAPIService.UpdateRecoveryFlow
        - FrontendAPIService.UpdateRegistrationFlow
        - FrontendAPIService.UpdateSettingsFlow
        - FrontendAPIService.UpdateVerificationFlow
        - IdentityAPIService.GetIdentitySchema
        - IdentityAPIService.ListIdentitySchemas
      admin-apis:
        - CourierApiService.GetCourierMessage
        - CourierApiService.ListCourierMessages
        - IdentityAPIService.BatchPatchIdentities
        - IdentityAPIService.CreateIdentity
        - IdentityAPIService.CreateRecoveryCodeForIdentity
        - IdentityAPIService.CreateRecoveryLinkForIdentity
        - IdentityAPIService.DeleteIdentity
        - IdentityAPIService.DeleteIdentityCredentials
        - IdentityAPIService.DeleteIdentitySessions
        - IdentityAPIService.DisableSession
        - IdentityAPIService.ExtendSession
        - IdentityAPIService.GetIdentity
        - IdentityAPIService.GetSession
        - IdentityAPIService.ListIdentities
        - IdentityAPIService.ListIdentitySessions
        - IdentityAPIService.ListSessions
        - IdentityAPIService.PatchIdentity
        - IdentityAPIService.UpdateIdentity
